[Unit]
Description=SMACK rules loading
Before=starter.service

[Service]
Type=oneshot
ExecStart = /bin/bash -c '/usr/bin/sqlite3 /opt/dbspace/.rules-db.db3 < /usr/share/privilege-control/db/load-rules-db.sql | smackload'

[Install]
WantedBy=multi-user.target
