[Unit]
Description=SMACK rules loading
Before=starter.service

[Service]
Type=oneshot
ExecStartPre =  /bin/bash -c '/usr/bin/sqlite3 /opt/dbspace/.rules-db.db3 < /opt/etc/smack/load-rules-db.sql'
ExecStart = /bin/bash -c '/bin/grep ^ /opt/etc/smack/boot-rules.smack --line-buffered > /smack/change-rule'

[Install]
WantedBy=multi-user.target