[Unit]
Description=Late SMACK rules loading
Before=starter.service

[Service]
Type=oneshot
ExecStart=/usr/bin/smackload /opt/etc/smack-app-early/accesses.d

[Install]
WantedBy=multi-user.target
