Source: libprivilege-control
Priority: extra
Maintainer: Kidong Kim <kd0228.kim@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libsmack-dev
Standards-Version: 3.7.2
Section: base
Homepage: N/A

Package: libprivilege-control-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libprivilege-control-0 (= ${Source-Version})
Description: development pacakge of library to control privilege of in-house application

Package: libprivilege-control-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library to control privilege of in-house application

Package: libprivilege-control-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libprivilege-control-0 (= ${Source-Version})
Description: debug package of library to control privilege of in-house application
