[Unit]
Description=Default SMACK labeling
DefaultDependencies=no
Requires=smack.service local-fs.target
After=smack.service local-fs.target
Before=basic.target

[Service]
Type=oneshot
ExecStart=/etc/rc.d/init.d/smack_default_labeling ; /etc/rc.d/init.d/smack_rules

[Install]
WantedBy=basic.target
